*{
    margin: 0;
    border: 0;
}
.head{
    display: flex;
    padding-left: 40px;
    padding-top: 15px;
    gap: 30px;
}
.nav{
    display: flex;
    gap: 10px;
}
.hicon{
    display: flex;
    gap: 10px;
}
.hsearch{
    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 30px;
    height: 30px;
    width: fit-content;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.catle{
    text-align: center;
    padding: 50px;
}
.li{
    display: grid;
    grid-template-columns: 70% 30%;
}
.lii{
    padding-left: 15px;
    padding-right: 10px;
}
.l1{
    display: flex;
}
.ll1 img{
    width: 300px;
    height: 250px;
    padding-right: 25px;
}
.ll2{
    padding-top: 20px;
}
.ll2 p{
    margin-top: 13px;
    line-height: 25px;
}
.le211{
    display: flex;
    margin-bottom: 10px;
}
.leim img{
    width: 130px;
    height: 70px;
    padding-right: 15px;
}
.lematt h6{
    color: #9aacd4;
    margin-bottom: 5px;
}
.footer{
    padding-top: 10px;
    background-color: #000000;
    display: flex;
    gap: 720px;
    height: 65px;
}
.footer p{
    color: white;
    padding-left: 20px;
}
.iconsallu{
    display: flex;
    gap: 7px;
}
.iconsallu a{
    padding: 5px;
    display: flex;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #333333;
    color: whitesmoke;
}
